<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InterfaceAgendaAluno.Properties.Settings.agendaConnectionString"
            connectionString="user id=root;password=agenda@EtecBr-1;persistsecurityinfo=False;server=localhost;database=agenda"
            providerName="MySql.Data.MySqlClient" />
        <add name="InterfaceAgendaAluno.Properties.Settings.agendaConnectionString1"
            connectionString="server=localhost;user id=root;database=agenda"
            providerName="MySql.Data.MySqlClient" />
        <add name="InterfaceAgendaAluno.Properties.Settings.agendaConnectionString2"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=agenda"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>